<footer class="footer">
    

  <script async type="text/javascript" src="/js/footer.js"></script>
    
  <img class="footerimg" src="/img/footer.png">
    
    
  <div class="footercontact">
    <div class="contactblock" id="contactustext"> 
      <h1 >Contact Us</h1>
    </div>
    
    <div class="contactblock"> 
      <ul class="contactus" id="contactcharles">
        <li><b>Charles French</b></li>
        <li><a href="tel:07919018286">07919 018286</a></li>
        <li>rev@xrd.org.uk</li>
      </ul>
    </div>
   
    <div class="contactblock"> 
      <ul class="contactus" id="contactbev">
        <li><b>Bev French</b></li>
        <li><a href="tel:07748686615">07748 686615</a></li>
        <li>revbev@xrd.org.uk</li>
      </ul>
    </div>
    
    <div class="contactblock"> 
      <a href="https://www.facebook.com/charlesnbev">      
        <img class="fblogo" src="/img/facebook-logo.png">
      </a>
    </div>
  
  </div>  
  
</footer>