<div id="sidenav" class="navhidden" >

  <!--<img class="navbackground" src="/img/navbackground.jpg">-->
    
  <div class="menuarea">
    <h1 class="menu-h1">Crossroads Church</h1>
    
    <nav class="menu">
      <ul>
       <li class="navitem"><a href="/">Home</a></li> 
       <li class="navitem"><a href="/hi">Welcome</a></li> 
       <li class="navitem"><a href="/about">About</a></li> 
       <li class="navitem"><a href="/why">Why</a></li> 
       <li class="navitem"><a href="/blog">News</a></li> 
      </ul>
    </nav>

  </div>  
    
</div>