$photosize: 360px

.whoweare
  margin: $sectiongap 0

.about-splash
    
  // FIX: fix this 
  width: 100%
  //min-height: 800px
  
  img
    margin: 0 auto
    
    vertical-align: top

    max-width: 1920px
    width: 100%
    //width: 100vw
    height: 400px
    //height: 800px

    // Color Filter overlays on the image    
    -webkit-filter: grayscale(25%) // Safari 6.0 - 9.0 
    filter: grayscale(25%)

.bios

  margin: $sectiongap 0
  
  .charles-bio, .bev-bio  
  
    margin-bottom: $sectiongap


.bio-photo

  min-width: 30% 
  @include under1200fix
    width: 40%
    
  @include under900fix
    width: 100%

  img.biopic

    width: $photosize

    @include under1200fix
      width: 100%


.biotext

  max-width: 60%

  @include under1200fix
    width: 55%

  @include under900fix
    width: 100%
    max-width: 100%
    margin-top: 2em
    margin-left: 0
    margin-right: 0

  p
    margin-top: 0
    @include under900fix
      width: 100%
      margin-left: auto
      margin-right: auto
  

.charles-photo, .bev-text
  float: left
  
.bev-photo, .charles-text   
  float: right
  
.about

  h1.abouttext
  
    position: absolute
    top: 15vh
    text-decoration: none
    
    font-size: 6vw
    margin-left: 5vw
    
    color: white
    opacity: 0.6