$photosize: 360px

.whoweare
  margin: $sectiongap 0

.about-splash
  @include splashimgmixin


.bios

  margin: $sectiongap 0
  
  .charles-bio, .bev-bio  
  
    margin-bottom: $sectiongap


.bio-photo

  min-width: 30% 
  @include under1200fix
    width: 40%
    
  @include under900fix
    width: 100%

  img.biopic

    width: $photosize

    @include under1200fix
      width: 100%


.biotext

  max-width: 60%

  @include under1200fix
    width: 55%

  @include under900fix
    width: 100%
    max-width: 100%
    margin-top: 2em
    margin-left: 0
    margin-right: 0

  p
    margin-top: 0
    @include under900fix
      width: 100%
      margin-left: auto
      margin-right: auto
  

.charles-photo, .bev-text
  float: left
  
.bev-photo, .charles-text   
  float: right
  
.about

  h1.abouttext
    @include splashh1mixin