.main-splash
  position: relative
  width: 100%
  overflow: hidden // fix overflow from cross image

  img.homesplashimg
    margin: 0 auto
    vertical-align: top
    max-width: 1920px
    width: 100%
    height: 100vh

.crossroads

  a h1.crossroadstext
  
    position: absolute
    top: 30vh
    text-decoration: none
    font-size: 12vw 
    @include over1920fix
      font-size: 230px 
    margin-left: 5vw
    color: white
    opacity: 0.6
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black

 