.main-splash
    
    // FIX: fix this 
    width: 100%
    //min-height: 800px
    
    img
        margin: 0 auto
        
        vertical-align: top

        max-width: 1920px
        width: 100%
        //width: 100vw
        height: 100vh
        //height: 800px
    
        // Color Filter overlays on the image    
        -webkit-filter: grayscale(100%) // Safari 6.0 - 9.0 
        filter: grayscale(100%)
