//
// Menu and Navigation styling
//

//$menu-icon-size: 3vw
$menu-icon-size: 3em
$menu-icon-position: 48px

$sidemenu-width: 100%
$sidemenu-color: rgba(255,255,255,1)
$sidemenu-color-complement: rgba(255,255,255,0.6)
$sidemenu-background: rgba(0,0,0,0.4)

$sidemenu-lineheight: 42px

$menuitem-padding: 30px
$menu-padding: 25px
$menucolor: black


.menuicon
  // menu botton icon position
  position: absolute
  top: $menu-icon-position
  left: $menu-icon-position 
  width: $menu-icon-size
  height: $menu-icon-size
  z-index: 99
  
  // larger than 1920px screens
  @include over1920fix
    left: calc(100% - 1920px + $menu-icon-position)
  
  // smaller than 1200px screens
  
  
  
  color: rgba(255,255,255,0.7)
  fill: currentColor
  fill: rgba(255,255,0,0.7)


img.menuiconimg
  // z-index: 200
  opacity: 0.4
  &:hover 
    opacity: 0.7
    
#sidenav
  width: $sidemenu-width
  max-width: 1920px
  height: 9.14vw
  min-height: 106px
  max-height: 150px
  overflow: hidden

  
  // ISSUE At 1200px
  //background-color: $sidemenu-background
  
  @include mobilemenufix
    max-height: 800px
    height:  400px
  
  
  background-image: url("/img/navbackground.jpg")
  // z-index: 100
  
  //position off-screen
  position: relative
  //left: -$sidemenu-width
  // padding-top: $menu-padding
  // padding-bottom: $menu-padding
  
  .navbackground
    width: 100%
    filter: grayscale(100%)
    -webkit-filter: grayscale(100%) // Safari 6.0 - 9.0 
    
  .menuarea
    position: absolute
    top: 0
    height: 3em
    @include mobilemenufix
      height: inherit
    width: 100%
    background-color: rgba(255,255,255,0.6)
    padding-top: 1em
    padding-bottom: 1em
    margin-top: 2em
    padding-left: 1em
    padding-right: 1em

  
  h1
    font-size: 1.8em
    display: inline
    padding-left: 120px
    line-height: 1.8em

  nav
    display: inline
    line-height: 1.8em


  nav > ul
    margin-top: 0
    margin-bottom: 0
    display: inline
    
    @include mobilemenufix
      display: block
    
    li
      list-style-type: none
      line-height: $sidemenu-lineheight
      display: inline
      
      @include mobilemenufix
        display: block
        
      padding-left: $menuitem-padding
      font-size: 1.5em
      a
        color: $menucolor


div#sidenav.navhidden
  display: none
  //transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94)
  transition: margin 100ms linear

//   left: 0
//   display: 
  
// #sidenav.navhidden
//   left: -$sidemenu-width/2

li.navitem 


  a:link
    color: yellow
    
  a:visited
    color brown
  a:active
    color: green
  a:hover
    color: pink
