---
layout: default
---

{% include nav.html %}

<div class="main-splash">
  <img class="homesplashimg" src="/img/homesplash.jpg" alt="splash image of path" >
  
  {% include menu.html %}

  <div class="cross-splash">
    <img class="crosssimg" src="/img/fancycross.png" alt="splash image of cross" >
  </div>

</div>







<div class="crossroads">
  <a href="/hi" ><h1 class="crossroadstext">CROSSROADS</h1></a>
</div>

<div class="findout">
  <a href="/hi" ><h1 class="findouttext">find out more ...</h1></a>
</div>